<div class="my_info">
  <div class="info_group row">
    <div class="picture ">
      <%= image_tag "ken.jpg",class:"my_pic" %>
    </div>
    <div class="name col-12">凱凱(Ken)</div>
    <div class="introduce col-12">愛吃、愛玩、愛貓咪，目前是個剛畢業的餐飲管理系學生，正努力轉職成一位工程師!</div>
    <div class="feature col-12">努力成為工程師/23歲/男/繪畫/料理/學日文</div>
    <div class="links col-12">
      <a href="https://github.com/kenaser12345" style="color:darkgray;"><i class="fab fa-github"></i></a>
      <a href="https://medium.com/@kenaser12345" style="color:darkgray;"><i class="fab fa-medium"></i></a>
    </div>
  </div>
  
</div> 

