<div class="app">
  <div class="my_info">
    <div class="info_group row">
      <div class="picture ">
        <%= image_tag "ken.jpg",class:"my_pic" %>
      </div>
      <div class="name col-12">凱凱(Ken)</div>
      <div class="introduce col-12">愛吃、愛玩、愛貓咪，目前是個剛畢業的餐飲管理系學生，正努力轉職成一位工程師!</div>
      <div class="feature col-12">努力成為工程師/23歲/男/繪畫/料理/學日文</div>
      <div class="links col-12">
        <a href="https://github.com/kenaser12345" style="color:darkgray;"><i class="fab fa-github"></i></a>
        <a href="https://medium.com/@kenaser12345" style="color:darkgray;"><i class="fab fa-medium"></i></a>
      </div>
    </div>
  </div> 
  <div class="about_me container">
    <section class="introduction part_of_about">
      <div class="title">
        <p>簡介</p>
      </div>
      <div class="content">
        <p>為了追求興趣選擇了餐飲管理系就讀，經過4年的學習以及有了3年的工作經驗，了解自己並不適合這個產業，在大學二年級時選修的程式設計課程讓我對程式非常感興趣，在經過摸索以及於Astro Camp結業之後，全心全意往軟體工程師發展</p>
      </div>  
    </section>
    <section class="introduction part_of_about">
      <div class="title">
        <p>決定轉換跑道!?</p>
      </div>
      <div class="content">
        <p>在大學四年間不斷的累積工作經驗以及閱讀有關料理的書籍在工作的第4年覺得這份工作不太適合我， 比起不斷做一樣的事如同機器一般自己更喜歡不斷創新、學習不同知識， 在接觸程式後感到非常有興趣不斷的有新的東西要學也很符合自己的期望，也讓我決定要成為一位工程師。</p>
      </div>  
    </section>
    <section class="personality part_of_about">
      <div class="title">
        <p>我的個性</p>
      </div>
      <div class="content">
        <p><strong>不太喜歡社交:</strong> 基本上不會主動去搭話、社交，雖然並不討厭跟別人講話但似乎很常把話聊死，尤其是1對1的場合很不擅長超級尷尬。</p>
        <p><strong>慢熟:</strong> 對於初次見面的人不太有勇氣去搭話，通常比較被動去認識別人</p>
        <p><strong>喜歡不斷學習新事物:</strong> 不太喜歡做沒挑戰性、反覆的事，也是會選擇退出廚師這職業的原因之一。</p>
        <p><strong>討厭爭執:</strong> 認為解決問題的方法應該透過理解、討論而非單純的爭吵。如果是不重要的問題我會選擇退讓但反之我用道理來使自己得到支持。</p>
        <p><strong>喜歡幫助人:</strong> 雖說不太敢和人交流但幫助別人會讓我感到很開心，當別人遇到困難若是我能幫上忙的話就會去做，這也可能是我稀少的社交的方式之一吧。</p>
        <p><strong>喜歡打好基礎:</strong> 認為任何事情都需要有基礎才能更進一步去做更進階的事，要是事情是怎麼發生的不會認人感到很不安嗎?。</p>      
      </div>  
    </section>
    <section class="interest_group part_of_about">
      <div class="title">
        <p>興趣</p>
      </div>
      <%# <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
      </div> %>
      <div class="content row">
        <div class="interest col-12 col-md-6 col-xl-4">
          <a class="" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
            <%= image_tag "food3v2.jpg",class:"pic" %>
          </a>
        </div>
        <div class="interest col-12 col-md-6 col-xl-4">
          <a class="" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
            <%= image_tag "draw1v2.jpg",class:"pic" %>
          </a>
        </div>
        <div class="interest col-12 col-md-6 col-xl-4">
          <a class="" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">            
            <%= image_tag "japanese1v2.jpg",class:"pic" %>
          </a>
        </div>
      </div>  
    </section>
  </div>
</div>
