body{
  margin: 0;
}
.app{
  width: 100vw;
  background-color: #f3e9e4;
}
.my_info{
  width: 100%;
  height: 100vh;
  background-color: #4b4b4b;
  display: flex;
  align-items: center;
  .info_group{
    width: 100%;
    .picture{
      width: 200px;
      height: 200px;
      margin: auto;
      .my_pic{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }  
    .name{
      text-align: center;
      font-size: 40px;
      font-weight: 600;
      color: #ffffff;
      padding-top: 10px;

    }  
    .introduce{
      text-align: center;
      font-size: 20px;
      font-weight: 800;
      color: #ffffff;
      padding-top: 10px;
    }
    .feature{
      text-align: center;
      font-size: 20px;
      font-weight: 200;
      color: #ffffff;
      padding-top: 10px;
    }
    .links{
      text-align: center;
      font-size: 30px;
    }
  }
}

.about_me{
  width: 100%;
  .part_of_about{
    background-color: #ffffff;
    margin-top: 10%;
    padding: 30px 25px 30px 25px;
    .title{
      font-size: 25px;
      font-weight: 700;
    }
    .content{
      font-size: 17px;
      .interest{
        width: 200px;
        height: 200px;
        overflow: hidden;
        .pic{
          width: 100%;
        }
      }
    }
  }
}





